<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.hyuwah.sandbox.ane">

    <application
        android:name=".ExampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dev.hyuwah.sandbox.ane.advanced.pepe.presentation.ExampleActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".simple.retrofit.callback.SimpleRetrofitCallbackActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".simple.retrofit.rxjava.SimpleRetrofitRxJavaActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".simple.retrofit.coroutine.SimpleRetrofitCoroutineActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".simple.url.coroutine.SimpleUrlCoroutineActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".simple.url.asynctask.SimpleUrlAsyncTaskActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="dev.hyuwah.sandbox.ane.simple.asynchttp.SimpleAsyncHttpActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="dev.hyuwah.sandbox.ane.standard.mvvm.coroutine.StandardMvvmCoroutineActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="dev.hyuwah.sandbox.ane.standard.mvvm.rxjava.StandardMvvmRxjavaActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="dev.hyuwah.sandbox.ane.standard.mvp.coroutine.StandardMvpCoroutineActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="dev.hyuwah.sandbox.ane.standard.mvp.rxjava.StandardMvpRxjavaActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="dev.hyuwah.sandbox.ane.advanced.coroutine.presentation.RetrofitCoroutineActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>